﻿@*@model MeteredRateOfFareCommon.Models.Ride*@
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Metered Rate of Fare System</h1>
    <p class="lead">Please enter complete data to process it.</p>

    <div class="row" ng-controller="HomeControllerJS">
        <form>
            <div class="col-md-4">
                <p>
                    Date
                </p>
                <p><input name="dateride" type="date" ng-model="DateRide" required /></p>
            </div>
            <div class="col-md-4">
                <p>
                    Time of start of ride
                </p>
                <p><input name="time" type="time" ng-model="TimeStartRide" /></p>
            </div>
            <div class="col-md-4">
                <p>
                    Number of minutes while traveling above 6 mph
                </p>
                <p><input name="minutesAboveSixMPH" type="text" ng-model="MinutesAboveSixMPH" /></p>
            </div>
            <div class="col-md-4">
                <p>
                    Number of miles traveled while traveling below 6 mph
                </p>
                <p><input name="milesBelowSixMPH" type="text" ng-model="MilesBelowSixMPH" /></p>
            </div>
            <div class="col-md-4">
                <input type="button" value="Calculate Trip Rate" class="btn btn-primary" ng-click="calculateRideRate()" />
            </div>
        </form>
        <div class="col-md-8">
            <label class="control-label col-md-6">Total Rate: ${{TotalRate}}</label>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/home/homeControllerJS.js"></script>
}